.error-container {
  width: 100%;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.error-title {
  color: #171717;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.error-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
