.notification-settings {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 24px;
  margin-top: 32px;
  max-width: 592px;
  width: 100%;
}

.notification-controls {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.column-headings {
  width: 100%;
  display: flex;
  gap: 80px;
  justify-content: end;
  border-bottom: 1px solid #e5e5e5;
  padding: 8px 40px 8px 8px;

  @media only screen and (max-width: 768px) {
    gap: 24px;
    padding: 8px 85px 8px 168px;
  }
}

.column-headings span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.save-cta {
  padding: 16px 0;
}

.save-cta button {
  width: 155px;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 14px;
  outline: none;
  cursor: pointer;

  color: white;
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.save-cta button:enabled {
  background-color: #4338ca;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.save-cta button:enabled:hover,
.save-cta button:enabled:focus {
  background-color: #3730a3;
}

.save-cta button:disabled {
  color: #a3a3a3;
  background-color: #f5f5f5;
}

.notification-row {
  display: flex;
  gap: 68px;

  @media only screen and (max-width: 768px) {
    gap: 24px;
  }
}

.notifications-list {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.notification-channels {
  display: flex;
  gap: 80px;
  align-items: center;

  @media only screen and (max-width: 768px) {
    gap: 24px;
  }
}

.notification-channels input {
  width: 32px;
}

.notification-label {
  width: 225px;

  @media only screen and (max-width: 768px) {
    width: 144px;
  }
}

.notification-settings .Toastify__toast-container {
  position: absolute;
  top: auto !important;
  bottom: -15px !important;
  right: -10px !important;
  left: auto !important;
  transform: none !important;

  .Toastify__toast {
    max-width: 475px !important;
    width: 100% !important;
    min-height: unset;
    border-radius: 2000px;
    padding: 4px 10px 4px 4px;
    margin-bottom: 0 !important;
  }

  .Toastify__toast--success {
    background: #f0fdf4;
  }

  .Toastify__toast--error {
    background: #FEF2F2;
  }

  .Toastify__toast-icon, .Toastify__close-button {
    display: none !important;
  }
}

