.msg-container {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.msg-description,
.msg-title {
  font-family:
    'Noto Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  font-weight: 500;
    line-height: 20px;
  margin: 0 !important;
}

.msg-title {
  padding: 2px 10px;
  border-radius: 9999px;
  background: #fff;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.success .msg-title {
  color: #15803d;
}

.success .msg-description {
  color: #15803d;
}

.error .msg-title {
  color: #991b1b;
}

.error .msg-description {
  color: #dc2626;
}
